{% extends 'base.html' %}


{% block title %}
   {{post.title}} 
{% endblock title %}



{% block content %}
<p> {{post.title}} </p>
<p> {{post.author}} </p>
<p> {{post.created_date}} </p>
<img src="{{post.banner}}" alt="image does not loaded!!">
<p> {{post.body}} </p>

{% if post.author.user == request.user %}
<a href="{% url 'blog:post_update' slug=post.slug pk=post.id %}">Edit!</a>
<a href="{% url 'blog:post_delete' slug=post.slug pk=post.id %}">delete!</a>

<p> Comments:</p>
<p> ___________________________________</p>

{% for comment in post.comment.all %}
<p> {{comment.author}} </p>   

<p> {{comment.body}} </p>   
<p> ---------------------------------------------------------------</p>

{% endfor %}
   
{% endif %}
   
    
{% endblock content %}
    
    